header {
  position: relative;

  padding: var(--gap-medium);
  background: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 72px;
    height: 72px;
  }

  .logo-desktop {
    display: none;
  }

  button {
    &[aria-expanded='false'] + ul {
      opacity: 0;
      height: 0;
    }
  }
}

.mobile-menu-button {
  background: transparent;
  border: none;
  font-size: 4.8rem;
  color: var(--color-white);
}
