@import url('./header.css');
@import url('./nav.css');
@import url('./hero.css');
@import url('./articles.css');
@import url('./media-dialog.css');
@import url('./footer.css');

:root {
  /* colors */
  --color-primary: #003057;
  --color-secondary: #f9f9f9;
  --color-secondary-hover: #e5e2e2;
  --color-black: #262628;
  --color-white: #ffff;
  --color-gray: #666666;
  --color-gray-light: #f1f1f1;

  /* font weights  */
  --font-weight-regular: 400;
  --font-bold: 700;
  --font-extra-bold: 900;

  /* font sizes */
  --font-regular: 1.6rem;
  --font-large: 1.8rem;

  /* spacing  */
  --gap-medium: 2.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px = 1rem */
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  background: var(--color-secondary);
  color: var(--color-black);
}

a {
  color: var(--color-black);
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .main-content {
    margin: var(--gap-medium);
    margin-top: 0;
  }

  .hero {
    padding: 4.8rem 0;

    .hero-heading {
      font-size: 4.8rem;
    }

    .hero-subheading {
      display: none;
    }
  }

  .articles {
    margin-top: 0;
    margin: var(--gap-medium);
    background: var(--color-white);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-medium);

    .card {
      margin: 0;

      .card-content {
        padding: var(--gap-medium);
      }
    }
  }

  .footer-title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1300px) {
  .media-dialog-container {
    min-width: 0;
    width: 1138px;
    height: 640px;
  }

  header {
    padding: 0;
    background: var(--color-white);

    .logo-mobile,
    .hidden-desktop {
      display: none;
    }

    .logo-desktop {
      display: block;
    }

    ul {
      display: flex;
      text-align: right;
      list-style: none;
    }
  }

  nav {
    .top-level {
      background: transparent;
      border: none;
      padding: var(--gap-medium);
      line-height: 2.5rem;
      font-weight: var(--font-bold);
      font-size: var(--font-large);
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease;
    }

    .top-level:hover {
      background: var(--color-secondary);
      border-bottom: 2px solid var(--color-primary);
    }

    .top-level.is-active {
      background: var(--color-secondary);
      border-bottom: 2px solid var(--color-primary);
    }

    .products-level-2 {
      position: absolute;
      z-index: 100;
      width: 100%;
      left: 0;
      padding: 2.4rem;
      justify-content: center;
      display: none;
      background: var(--color-secondary);
    }

    .products-level-2.is-active {
      display: flex;
    }

    .category {
      text-align: left;
      width: 535px;
    }

    .sub-list {
      margin: 2.4rem 2.4rem 0;
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    .sub-item {
      padding: 1rem;
      cursor: pointer;
      border-bottom: 1px solid var(--color-gray-light);
    }
  }

  .articles {
    margin-bottom: var(--gap-medium);
    padding: var(--gap-medium);
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: -1;
  }
}

@media only screen and (max-width: 1300px) {
  nav {
    position: absolute;
    z-index: 10000;
    top: 12rem;
    left: 0;
    width: 100%;
    background: var(--color-white);

    ul li {
      list-style: none;
    }

    li {
      cursor: pointer;
    }

    .top-level {
      padding: 1rem 2rem;
      display: flex;
      background: var(--color-gray-light);
    }

    .top-level.is-active {
      .fa-solid {
        transform: rotate(180deg);
      }
    }

    .category {
      padding: 1rem;
    }

    .sub-item {
      margin: 1rem;
      border-bottom: 1px solid var(--color-secondary);
    }
  }

  .products-level-2 {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .main-nav.show,
  .products-level-2.is-active {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .modal-container {
    min-width: 90dvw;
  }
}
